# Run the screenshot
name: screenshot

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  screenshot:
    runs-on: ubuntu-latest
    steps:
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          lfs: false

      - name: install Playwright and browser
        run: |
          bun install -g playwright
          playwright install --with-deps chromium

      - name: take screenshot
        run: |
          screenshot_path="assets/preview.png"

          echo "screenshot_path=$screenshot_path" >> "$GITHUB_ENV"

          mkdir -p "$(dirname "$screenshot_path")"

          playwright screenshot \
            --full-page \
            --wait-for-timeout 10000 \
            "https://confused-yet.yuckabug.xyz" "$screenshot_path"

      - name: push changes to GitHub
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add "$screenshot_path"
          git commit -m "Update preview screenshot" || exit 0
          git push origin main
